:root {
    --main-bg-color: gainsboro;
    --player-0-color: red;
    --player-1-color: blue;
    --start-button-bg-color: burlywood;
    --start-button-bg-color-active: gold;
    --start-button-border-radius: 10;
    --empty-slot-color: white;
    --slot-border-color: black;
    --slot-radius: 35;
    --slot-shadow-size: 5;
    --slot-shadow-color: silver;
    --slot-margin: 10;
    --slot-hover-border-color: gold;
    --slot-hover-shadow-color: burlywood;
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

#start-button {
    width: fit-content;
    background-color: var(--start-button-bg-color);
    border-radius: calc(var(--start-button-border-radius) * 1px);
    padding: calc(var(--start-button-border-radius) * 2px);
    font-size: 2rem;
}

#start-button:active {
    background-color: var(--start-button-bg-color-active);
}

#board {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.column {
    display: flex;
    flex-direction: column-reverse;
}

.slot {
    height: calc(var(--slot-radius) * 2px);
    width: calc(var(--slot-radius) * 2px);
    border: var(--slot-border-color) 1px solid;
    border-radius: calc(var(--slot-radius) * 1px);
    box-shadow: calc(var(--slot-shadow-size) * 1px) calc(var(--slot-shadow-size) * 1px) calc(var(--slot-shadow-size) * 1px) 0 var(--slot-shadow-color);
    background-color: var(--empty-slot-color);
    margin: calc(var(--slot-margin) * 1px);
    cursor: pointer;
}

.slot:hover {
    border: var(--slot-hover-border-color) 1px solid;
    box-shadow: calc(var(--slot-shadow-size) * 1px) calc(var(--slot-shadow-size) * 1px) calc(var(--slot-shadow-size) * 1px) 0 var(--slot-hover-shadow-color);
    transform: scale(1.1);
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);
    opacity: 0.7;
    z-index: 100;
}

#winner-msg {
    position: absolute;
    top: 0;
    left: 50vw;
    transform: translateX(-50%);
    padding: 20px;
    font-size: 3rem;
    z-index: 200;
}